* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 0 5%;
}
.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.headerLeft {
  display: flex;
  column-gap: 2rem;
}
.headerLeft div img {
  padding-top: 10px;
  width: 60px;
  height: 60px;
}
.headerLeft div h4 {
  display: flex;
  align-items: center;
  padding-top: 22px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 16.84px;
  color: #232323;
}
.headerRight {
  display: flex;
  column-gap: 2rem;
  padding-top: 17px;
}
.headerRight a {
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-family: "Syne", sans-serif;
  font-size: 16px;
}
.headerRight a:hover {
  text-decoration: underline 2px solid black;
}
.headerRight i {
  font-size: 22px;
  cursor: pointer;
}
header {
  background-color: rgba(133, 124, 124, 0.089);
}
/* CAROUSEL SECTION */
#bgImage {
  background-image: url("../image/background9.jpg");
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.divParent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 180px;
  left: 120px;
}
.childLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.childLeft h1 {
  font-weight: 700;
  font-size: 47.0016px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 51.7018px;
}
.childLeft p {
  font-weight: bold;
  font-size: 25px;
  font-family: "EB Garamond", serif;
  color: #626262;
}
.childLeft a {
  font-weight: bold;
  font-size: 18px;
  font-family: "Syne", sans-serif;
}
.childLeft button {
  color: black;
  background: transparent;
  border: 2px solid orangered;
  width: 180px;
  border-radius: 2px;
  padding: 10px 20px;
  font-family: "Syne", sans-serif;
}
.childLeft button:hover {
  background-color: orangered;
  color: white;
}
.childRight {
  width: 50%;
}
.childRight img {
  width: 90%;
}
/* -------------------------------------------------------------------------------- */
/* ABOUT SECTION STYLE */
.emojiDiv {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.aboutSection {
  margin: 70px auto 0 auto;
}
.aboutSection h1 {
  color: #232323;
  font-weight: 700;
  font-size: 47.0016px;
  font-family: "Syne", sans-serif;
}
.divChild {
  width: 33%;
  background-color: #f2f2f2;
}
.divChild i {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  margin-bottom: 30px;
  color: orangered;
}
.divChild h4 {
  font-family: "Syne", sans-serif;
  font-size: 16.84px;
  font-weight: 700;
  color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.divChild p {
  font-family: "Syne", sans-serif;
  font-size: 16.84px;
  font-weight: 400;
  color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

/* ACCARDION SECTION */
.accardionCosmeticsFoto {
  margin-top: 80px;
  display: flex;
  column-gap: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.accardionDiv {
  width: 50%;
}
.cosmeticsDiv {
  width: 50%;
}
.cosmeticsDiv img {
  width: 100%;
}
.accardionDiv h1 {
  font-size: 47.0016px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}
.accardionDiv .natural {
  font-size: 23px;
  font-weight: 400;
  color: #626262;
  font-family: "EB Garamond", serif;
}
.accordion-item {
  border-bottom: 1px solid black;
}
.accardionDiv .accordion-body {
  line-height: 25.26px;
  font-weight: 400;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  color: #232323;
}
.accardionDiv h6 {
  color: black;
  font-weight: 700;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
}
/* TEXT SECTION */
.textSection {
  height: 50vh;

  margin-top: 80px;
}
.textDiv {
  background-color: #f2f2f2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textDiv .txt8 {
  padding-top: 10%;
}
.textDiv h1 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 47.0016px;
  color: #232323;
}
.textDiv a {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #626262;
  text-decoration: none;
}
.textDiv a:hover {
  text-decoration: 2px underline;
  color: red;
}
/* COSMETICS IMAGE AND TEXT SECTION */

.cosmeticsImageText {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  width: 100%;
  margin-top: 24%;
}
.cosmeticsImageText .imageLeft {
  width: 50%;
}
.cosmeticsImageText .imageLeft img {
  width: 100%;
}
.cosmeticsImageText .textRight {
  width: 50%;
}
.cosmeticsImageText .textRight h1 {
  font-weight: 700;
  font-size: 47.0016px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 51.7018px;
}
.cosmeticsImageText .textRight .premium-treat {
  font-weight: 400;
  font-size: 23px;
  font-family: "EB Garamond", serif;
  color: #626262;
}
.cosmeticsImageText .textRight .Phasellus {
  font-weight: 400;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 25.26px;
}
.cosmeticsImageText .textRight a {
  font-weight: 800;
  font-size: 18px;
  font-family: "Syne", sans-serif;
}
.cosmeticsImageText .textRight button {
  color: black;
  background: transparent;
  border: 2px solid orangered;
  width: 180px;
  border-radius: 2px;
  padding: 10px 20px;
  font-family: "Syne", sans-serif;
}
.cosmeticsImageText .textRight button:hover {
  background-color: orangered;
  color: white;
}
/* TWO COSMETICS FOTO SECTION */
.twoCosmeticsFoto {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.leftCosmeticsFoto {
  width: 50%;
}
.rightCosmeticsFoto {
  width: 50%;
  background-color: #f2f2f2;
  height: 534px;
  position: relative;
}
.leftCosmeticsFoto img {
  width: 100%;
}
.rightCosmeticsFoto img {
  width: 190px;
  position: absolute;
  top: 100px;
  left: 160px;
}
.twoFotoSection {
  margin-top: 15%;
}
.rightCosmeticsFoto .special {
  position: absolute;
  top: 320px;
  left: 100px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #232323;
  line-height: 33px;
}
.rightCosmeticsFoto .for {
  position: absolute;
  top: 360px;
  left: 120px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #232323;
  line-height: 33px;
}
.rightCosmeticsFoto a {
  position: absolute;
  top: 410px;
  left: 190px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Syne", sans-serif;
  color: #626262;
  text-decoration: none;
}
.rightCosmeticsFoto a:hover {
  text-decoration: underline 2px red;
  color: red;
}
/* TEXT TWO IMAGE SECTION */
.textTwoImageSection {
  margin-top: 15%;
}
.textTwoImageSection .textTwoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4.8rem;
  width: 100%;
}
.textTwoImageSection.textLeft {
  width: 50%;
}
.textTwoImageSection h1 {
  font-weight: 700;
  font-size: 47.0016px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 51.7018px;
}
.onlyNatural {
  font-weight: 400;
  font-size: 23px;
  font-family: "EB Garamond", serif;
  color: #626262;
}
.phasellus1 {
  font-weight: 400;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 25.26px;
}
.textTwoImageSection a {
  font-weight: 800;
  font-size: 18px;
  font-family: "Syne", sans-serif;
}
.textTwoImageSection .textTwoImage .textLeft button {
  color: black;
  background: transparent;
  border: 2px solid orangered;
  width: 180px;
  border-radius: 2px;
  padding: 10px 20px;
  font-family: "Syne", sans-serif;
}
.textTwoImageSection .textTwoImage .textLeft button:hover {
  background-color: orangered;
  color: white;
}
.textTwoImageSection .textTwoImage.twoImageRight {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.textTwoImageSection .textTwoImage.twoImageRight img {
  width: 10%;
}
.twoImageRight {
  width: 50%;
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoImageRight img {
  width: 100%;
}
.dollarText {
  position: relative;
}
.dollarText h6 {
  position: absolute;
  bottom: 45px;
  left: 90px;
  color: black;
  font-weight: 700;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
}
.dollarText p {
  position: absolute;
  bottom: 5px;
  left: 110px;
  font-weight: 400;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 25.26px;
}
/* BEST SELLER SECTION */
.bestSellerSection {
  margin-top: 12%;
}
.bestSellerSection h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 47.0016px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 51.7018px;
}
.bestSellerSection .cosmetikFotoParent {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}
.cosmetikFotoParent .cosmetikFoto {
  width: 33%;
  position: relative;
}
.cosmetikFotoParent .cosmetikFoto img {
  width: 100%;
}
.cosmetikFoto h6 {
  position: absolute;
  bottom: 60px;
  left: 120px;
  color: black;
  font-weight: 700;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
}
.cosmetikFoto p {
  position: absolute;
  bottom: 30px;
  left: 150px;
  font-weight: 400;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  color: black;
  line-height: 25.26px;
}
/* PRODUCTS SECTION */
.cosmetikFotoProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  row-gap: 3rem;
}
.cosmetikFoto2 {
  position: relative;
  width: 30%;
}
.cosmetikFoto2 img {
  width: 100%;
}
.ourProduct {
  margin-top: 10%;
}
.ourProduct h1 {
  margin-bottom: 10%;
  font-weight: 700;
  font-size: 47.0016px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 51.7018px;
}
.cosmetikFoto2 h6 {
  position: absolute;
  bottom: 60px;
  left: 120px;
  color: black;
  font-weight: 700;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
}
.cosmetikFoto2 p {
  position: absolute;
  bottom: 30px;
  left: 150px;
  font-weight: 400;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  color: black;
  line-height: 25.26px;
}
/* LOGO AND TEXT SECTION  */
.logoTextSection {
  margin-top: 10%;
}
.logoTextSection h1 {
  margin-bottom: 10%;
  font-weight: 700;
  font-size: 47.0016px;
  font-family: "Syne", sans-serif;
  color: #232323;
  line-height: 51.7018px;
}
.fotoLogo {
  margin-bottom: 10%;
  display: flex;
  column-gap: 2rem;
}
.fotoLogo div {
  width: 12.5%;
}
.fotoLogo img {
  width: 100%;
}
/* INFO AND INPUT SECTION */
.infoInput {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7rem;
}
.infoDiv {
  display: flex;
  flex-direction: column;
}
.infoDiv a {
  color: black;
  font-weight: 400;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  text-decoration: none;
}
.infoDiv a:hover {
  color: red;
}
.infoDiv p {
  font-family: "EB Garamond", serif;
  color: #626262;
  left: 150px;
  font-weight: 400;
  font-size: 23px;
  line-height: 25.26px;
}
.infoDiv h3 {
  font-weight: 700;
  font-size: 30px;
  font-family: "Syne", sans-serif;
}
.inputDiv .email,
.inputDiv .name {
  height: 65px;
  font-family: "EB Garamond", serif;
  width: 272px;
  border: 1px solid grey;
  outline: none;
  padding: 20px 25px;
  font-weight: bold;
}
textarea {
  font-weight: bold;
  font-family: "EB Garamond", serif;
  height: 130px;
  border: 1px solid grey;
  outline: none;
  padding: 20px 25px;
}
.sendMessage {
  margin-top: 20px;
  color: black;
  background: transparent;
  border: 2px solid orangered;
  width: 200px;
  font-size: 16px;
  border-radius: 2px;
  font-weight: bold;
  padding: 10px 20px;
  font-family: "Syne", sans-serif;
}
.sendMessage:hover {
  background-color: orangered;
  color: white;
}
/* FOOTER */
footer {
  margin-top: 10%;
  background-color: #f2f2f2;
}
.footLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}
.footImageDiv {
  width: 25%;
}
.navigation {
  width: 25%;
}
.footImageDiv img {
  width: 100%;
}
.footer {
  padding-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.footLeft ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footLeft a,
.footRight a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16.84px;
  font-family: "Syne", sans-serif;
  text-decoration: none;
}
.footRight a:hover {
  color: red;
}
.footLeft a:hover {
  color: red;
}
.send {
  height: 50px;
  width: 90px;
  font-weight: bold;
  color: black;
  font-family: "Syne", sans-serif;
  background-color: white;
  border: 2px solid black;
}
.footRight input {
  padding: 10px 15px;
  outline: none;
  font-weight: 400;
  height: 50px;
  font-family: "Syne", sans-serif;
}
.send:hover {
  background-color: black;
  color: white;
}
.footRight {
  column-gap: 4rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footRight p {
  font-family: "Syne", sans-serif;
  color: #000000;
  left: 150px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25.26px;
}
.parentCards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parentCards img {
  width: 200px;
}
.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.search {
  height: 40px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonDiv  button{
  width: 140px;
  height: 40px;
  background-color: maroon;
  border: none;
  color: white;
  border-radius: 6px;
}